body {
  background-color: #29243d;
  color: #e5d8ed;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding:0 5px;
  color: #a59de6;
  border: 1px solid  #a59de6;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}